<%- include('../header') %>

<div class="content" style="height: 85vh;">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Product Manage</strong>
                            </div>
                            <div class="card-body">
                                <!-- Credit Card -->
                                <div id="pay-invoice">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h3 class="text-center">Product View</h3>
                                        </div>
                                        <hr>
                                        <form>
                                            <div class="mb-3">
                                                <label for="product" class="form-label">Category</label>
                                                <select class="form-control" required>
                                                    <option>---select category---</option>
                                                    <option>mobile</option>
                                                    <option>electronics</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="product" class="form-label">Product</label>
                                                <input type="text" class="form-control" placeholder="Enter product" required>
                                            </div>
                                             <div class="mb-3">
                                                <label for="price" class="form-label">Price</label>
                                                <input type="number" class="form-control" placeholder="Enter price" required>
                                            </div>
                                             <div class="mb-3">
                                                <label for="price" class="form-label">Description</label>
                                                <textarea class="form-control" placeholder="Enter Description"></textarea>
                                            </div>
                                            <div class="mb-3">
                                                <label for="image" class="form-label">Image</label>
                                                <input type="file" class="form-control" required>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div> <!-- .card -->

                    </div><!--/.col-->
            </div>


        </div><!-- .animated -->
        </div><!-- .content -->

        <div class="clearfix"></div>

<%- include('../footer') %>
