<%- include('../header') %>

 <div class="content" style="height: 90vh;">
            <div class="animated fadeIn">
                <div class="row">
                    
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Manage Category</strong>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                          <th scope="col">#</th>
                                          <th scope="col">Category</th>
                                          <th scope="col">Status</th>
                                          <th scope="col">Action</th> 
                                         
                                      </tr>
                                  </thead>
                                  <tbody>

                                    <% categories.map((val,i)=>{ %>
                                         <tr>
                                            <th scope="row"><%= ++i %></th>
                                            <td><%= val.category %></td>
                                            <td>
                                                <a class="btn btn-success btn-sm text-white">active</a>
                                            </td>
                                            <td>
                                                <a href="" class="btn btn-danger text-white"><i class="fa fa-trash"></i></a>
                                                <a href="" class="btn btn-primary text-white"><i class="fa fa-edit"></i></a>
                                            </td>
                                        </tr>
                                    
                                   <% }) %>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

               

               

               




           

           

        </div>
    </div><!-- .animated -->
        </div><!-- .content -->

        <div class="clearfix"></div>

<%- include('../footer') %>
